body {
  min-width: auto;
  margin: 1em;
  color: #161b40;
  background-color: #fbfaf9;
}

.navbar {
  margin: 1em 0.5em 1.5em 0.5em;
  display: flex;
  justify-content: space-between;
  font-family: "Kaushan Script", cursive;
}

.titlelogo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  width: 16em;
}
span img {
  height: 6em;
}
.title {
  margin-left: 0.5em;
}
.icon {
  display: flex;
  justify-content: flex-end;
}
input {
  display: none;
}
#checkID {
  position: absolute;
  right: 2em;
  top: 3.5em;
}

#check:checked ~ .nav-items {
  display: block;
  list-style: none;
  background-color: #43bee5;
  width: 21em;
  border-radius: 20px;
  color: #161b40;
}
.nav-items {
  display: none;
  padding: 1.5em 0.3em 0.3em 0.3em;
  text-align: center;
  position: relative;
  top: 4em;
}
.nav-items li {
  margin-bottom: 1em;
}
.nav-items li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-items li a:hover {
  font-size: 2em;
  font-weight: bold;
}

@media screen and (min-width: 900px) {
  header {
    display: flex;
  }

  .title {
    font-size: 2em;
    margin: 0.5em 0.5em 0.5em 0.7em;
  }

  .titlelogo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 25em;
    position: inherit;
  }

  .titlelogo span img {
    height: 10em;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  .nav-links {
    display: flex;
    height: 7em;
    align-self: center;
  }

  .nav-items {
    display: flex;
    margin: 0.5em;
    align-items: center;
    position: inherit;
    justify-content: flex-end;
  }

  input,
  label {
    display: none;
  }

  .nav-items li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #161b40;
    font-size: 1.3em;
    padding: 0.5em;
  }

  .nav-items li {
    list-style: none;
    margin-right: 0.5em;
  }
}

/* MAIN STYLES */
main {
  position: relative;
  top: 4.5em;
}
#help-paragraf {
  text-align: center;
  font-family: "Kaushan Script", cursive;
  font-size: 1.3em;
}

#rules p {
  display: flex;
  justify-content: center;
}

.help-forums {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.help-forums img {
  width: 65px;
  height: 65px;
  border-radius: 50px;
}

.tips h4 {
  font-family: "Kaushan Script", cursive;
}

.tips p {
  display: flex;
  justify-content: center;
  margin-right: 5rems;
  font-family: "Kaushan Script", cursive;
}

.accordion {
  background-color: #0ccf87;
  color: rgb(17, 17, 17);
  padding: 20px;
  font-size: 16px;
  border: rgb(237, 45, 151) solid 6px;
  height: 210px;
  width: 210px;
  border-radius: 50%;
  text-align: center;
  margin-left: 10px;
  margin-bottom: 60px;
  margin-top: 40px;
  font-family: "Kaushan Script", cursive;
}

.accordion-A {
  background-color: #0ccf87;
  color: rgb(17, 17, 17);
  padding: 20px;
  font-size: 16px;
  border: rgb(237, 45, 151) solid 6px;
  height: 210px;
  width: 210px;
  border-radius: 50%;
  text-align: center;
  margin-left: 10px;
  margin-bottom: 60px;
  margin-top: 40px;
}

/*clock img styling*/
#accordion-A img {
  height: 100px;
  width: 100px;
  background-color: #0ccf87;
}

#accordion-B {
  background-color: #e910a8;
  color: rgb(17, 17, 17);
  padding: 20px;
  font-size: 16px;
  border: #16a3ea solid 6px;
  height: 210px;
  width: 210px;
  border-radius: 50%;
  text-align: center;
  margin-left: 10px;
  margin-bottom: 60px;
  margin-top: 40px;
}
/*clock img styling*/
#accordion-B img {
  height: 100px;
  width: 100px;
}

#accordion-C {
  background-color: #08b1ea;
  color: rgb(17, 17, 17);
  padding: 20px;
  font-size: 16px;
  border: rgb(240, 185, 67) solid 6px;
  height: 210px;
  width: 210px;
  border-radius: 50%;
  text-align: center;
  margin-left: 10px;
  margin-bottom: 60px;
  margin-top: 40px;
}

/*stress img styling*/
#accordion-C img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
#two {
  background-color: #aae1f5;
}
mark {
  background-color: #ebdf90;
}

#accordion-D {
  background-color: #faea5c;
  color: rgb(17, 17, 17);
  padding: 20px;
  font-size: 16px;
  border: rgb(42, 199, 7) solid 6px;
  height: 210px;
  width: 210px;
  border-radius: 50%;
  text-align: center;
  margin-left: 10px;
  margin-bottom: 60px;
  margin-top: 40px;
}

/*study break img styling*/
#accordion-D img {
  height: 110px;
  width: 110px;
  border-radius: 50%;
}

#accordion-D h4 {
  margin-top: 0;
}

.forums {
  background-color: rgb(99, 163, 237);
  border-radius: 100px;
  display: flex;
  justify-content: center;
}

.tips {
  background-color: none;
  margin-right: 0px;
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

/* Styling the accordion panel to be hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

@media screen and (min-width: 900px) {
  .tips-buttons {
    padding-top: 10px;
    display: flex;
    width: 90%;
    justify-content: space-evenly;
  }
}

/*FOOTER STYLES*/

footer {
  text-align: left;
  padding: 0.5em;
  margin: 1em;
  position: relative;
  top: 3em;
  font-family: "Kaushan Script", cursive;
}

footer h2 {
  text-align: center;
}

.name-icon {
  padding: 0 0.5em;
}

.name-icon li {
  list-style: none;
  padding-top: 0.5em;
}

.social {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.contact-icon {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contact-icon span {
  display: flex;
  align-items: center;
}

.fa-envelope {
  padding-right: 0.3em;
}

#copyright {
  text-align: center;
}

.fa-brands {
  border: 2px solid #41b853;
  border-radius: 50%;
  padding: 0.3em;
}

@media screen and (min-width: 900px) {
  .contact-icon {
    display: flex;
    flex-direction: column;
    align-self: center;
  }

  .contact-icon span,
  .contact-icon p {
    padding: 0.5em;
    font-size: 1.2em;
    margin: 0;
  }

  .footer-info {
    display: flex;
    justify-content: space-evenly;
  }

  .social {
    font-size: 1.2em;
  }

  .social .name-icon {
    display: flex;
    align-items: baseline;
  }

  .name-icon .fa-brands {
    margin-right: 0.3em;
  }

  main {
    top: -1.5em;
  }
}
