body {
  min-width: auto;
  margin: 1em;
  color: #161b40;
  background-color: #fbfaf9;
  /* font-family: 'Caveat', cursive;
font-family: 'Kalam', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Lobster Two', cursive;
font-family: 'Oleo Script', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Quicksand', sans-serif; */
}

.navbar {
  margin: 1em 0.5em 1.5em 0.5em;
  display: flex;
  justify-content: space-between;
}

.titlelogo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  width: 16em;
}
span img {
  height: 6em;
}
.title {
  margin-left: 0.5em;
  /* font-family: "Caveat", cursive; */
  /* font-family: "Kalam", cursive; */
  /* font-family: "Kaushan Script", cursive; */
  /* font-family: "Lobster Two", cursive; */
  /* font-family: "Oleo Script", cursive; */
  /* font-family: "Permanent Marker", cursive; */
  /* font-family: "Quicksand", sans-serif; */
}
.icon {
  display: flex;
  justify-content: flex-end;
}
input {
  display: none;
}
#checkID {
  position: absolute;
  right: 2em;
  top: 3.5em;
}

#check:checked ~ .nav-items {
  display: block;
  list-style: none;
  background-color: #43bee5;
  width: 19em;
  border-radius: 20px;
  color: #161b40;
}
.nav-items {
  display: none;
  padding: 1.5em 0.3em 0.3em 0.3em;
  text-align: center;
  position: relative;
  top: 4em;
}
.nav-items li {
  margin-bottom: 1em;
}
.nav-items li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-items li a:hover {
  font-size: 2em;
  font-weight: bold;
}

@media screen and (min-width: 900px) {
  header {
    display: flex;
  }

  .title {
    font-size: 2em;
    margin: 0.5em 0.5em 0.5em 0.7em;
  }

  .titlelogo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 25em;
    position: inherit;
  }

  .titlelogo span img {
    height: 10em;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  .nav-links {
    display: flex;
    height: 7em;
    align-self: center;
  }

  .nav-items {
    display: flex;
    margin: 0.5em;
    align-items: center;
    position: inherit;
    justify-content: flex-end;
  }

  input,
  label {
    display: none;
  }

  .nav-items li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #161b40;
    font-size: 1.3em;
    padding: 0.5em;
  }

  .nav-items li {
    list-style: none;
    margin-right: 0.5em;
  }
}

/* MAIN STYLES */
main {
  position: relative;
  top: 4.5em;
}

main h3 {
  text-align: center;
}

.emotion-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* display: grid;
  justify-content: center;
  grid-template-columns: 10em 10em;
  grid-template-rows: 10em 10em;
  grid-gap: 1em; */
}

.emotion-buttons p {
  border: 5px solid #43bee5;
  border-radius: 20px;
  padding: 1.2em;
  display: none;
  margin-top: 0;
  height: 7em;
  text-align: center;
  width: 12em;

  /* border: 5px solid #43bee5;
  border-radius: 20px;
  padding: 1.2em;
  display: none;
  margin-top: 0;
  height: 7em;
  text-align: center; */
}

.emotion-buttons p.show {
  display: block;
  display: flex;
  align-items: center;
  /* 
  display: block;
  align-items: center; */
}

.round-button {
  border: 2px solid #f40058;
  border-radius: 50%;
  padding: 1.5em;
  height: 10rem;
  width: 10rem;
  background-color: #f40058;
  color: #161b40;
  font-weight: bold;
  margin-bottom: 1em;
}

.emotion-word {
  font-size: 1.5em;
}

.emoji {
  width: 50px;
  height: 50px;
  margin-top: 0.5em;
}

#quote3 {
  border: 5px solid #f40058;
}

#uninspired {
  padding: 0.4em;
  background-color: #efa500;
  border: 2px solid #efa500;
}

#quote2 {
  border: 5px solid #efa500;
}

#inspired {
  padding: 1.1em;
  background-color: #41b853;
  border: 2px solid #41b853;
}

#quote {
  border: 5px solid #41b853;
}

#happy {
  padding: 1.8em;
  background-color: #43bee5;
  border: #43bee5 2px solid;
}

#sad {
  padding: 2.5em;
}

#quote4 {
  border: 5px solid #f40058;
}

/*FOOTER STYLES*/
footer {
  text-align: left;
  padding: 0.5em;
  margin: 1em;
  position: relative;
  top: 3em;
}

footer h2 {
  text-align: center;
}

.name-icon {
  padding: 0 0.5em;
}

.name-icon li {
  list-style: none;
  padding-top: 0.5em;
}

.social {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.contact-icon {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contact-icon span {
  display: flex;
  align-items: center;
}

.fa-envelope {
  padding-right: 0.3em;
}

#copyright {
  text-align: center;
}

.fa-brands {
  border: 2px solid #41b853;
  border-radius: 50%;
  padding: 0.3em;
  /* background-color: #41b853; */
}

@media screen and (min-width: 900px) {
  .contact-icon {
    display: flex;
    flex-direction: column;
    align-self: center;
  }

  .contact-icon span,
  .contact-icon p {
    padding: 0.5em;
    font-size: 1.2em;
    margin: 0;
  }

  .footer-info {
    display: flex;
    justify-content: space-evenly;
  }

  .social {
    font-size: 1.2em;
  }

  .social .name-icon {
    display: flex;
    align-items: baseline;
  }

  .name-icon .fa-brands {
    margin-right: 0.3em;
  }
}
