
/* CSS FOR HELP PAGE */


header {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.titlelogo {}

.nav-links {
    text-align: center;
    display: block;
    background-color: rgb(100, 200, 233);
    border-radius: 20px;
}

.navbar {
    background-color: #41b853;
    text-align: right;
    margin-left: 200px;
}


/* body styling */

body {
    background-color: #FFEEE4;
}
h2{
    text-align: center;
}

.tips {
    background-color: #FFEEE4;
}


/* footer styling */
.footer h2 {
    text-align: center;
}

.social {
    display: flex;
    flex-direction: row;
}

.contact-icon {
    display: flex;
    flex-direction: row;
    border-color: rgb(203, 11, 130) solid;
    align-items: center;
    margin-left: 60px;
    gap: 20px;
}

.fa-regular fa-envelope {
    width: 18px;
    height: 18px
}

#copyright {
    text-align: center;
}

/* styling dropdown and hoover button style */

.dropbtn {
    background-color: #0ccf87;
    color: rgb(17, 17, 17);
    padding: 16px;
    font-size: 16px;
    border: black solid 3px;
    height: 130px;
    width: 130px;
    border-radius: 50px;
    text-align: center;
    margin-left: 80px;
    margin-bottom: 60px;
    
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ed8a47;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {
    background-color: #ddd;
}


.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #ed31f3;
}