body {
  min-width: auto;
  margin: 1em;
  color: #161b40;
  background-color: #fbfaf9;
}
.navbar {
  margin: 1em 0.5em 1.5em 0.5em;
  display: flex;
  justify-content: space-between;
}
.titlelogo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  width: 16em;
}
span img {
  height: 6em;
}
.title {
  margin-left: 0.5em;
}
.icon {
  display: flex;
  justify-content: flex-end;
}
input {
  display: none;
}
#checkID {
  position: absolute;
  right: 2em;
  top: 3.5em;
}
/* ul {
  display: none;
} */
#check:checked ~ .nav-items {
  display: block;
  list-style: none;
  background-color: #43bee5;
  width: 19em;
  border-radius: 20px;
  color: #161b40;
}
.nav-items {
  display: none;
  padding: 1.5em 0.3em 0.3em 0.3em;
  text-align: center;
  position: relative;
  top: 4em;
  /* right: 1em; */
}
.nav-items li {
  margin-bottom: 1em;
}
.nav-items li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
/* MAIN STYLES */
main {
  position: relative;
  top: 4.5em;
}

.emotion-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emotion-buttons p {
  border: 5px solid #43bee5;
  border-radius: 20px;
  padding: 0.2em;
}

.round-button {
  border: 2px solid #f40058;
  border-radius: 50%;
  padding: 1.5em;
  height: 7.5em;
  background-color: #f40058;
  color: #161b40;
  font-weight: bold;
  font-size: 1em;
}

.fa-face-tired,
.fa-face-grimace,
.fa-face-grin-stars {
  font-size: 1.8em;
}

#uninspired {
  padding: 0.4em;
  background-color: #efa500;
  border: 2px solid #efa500;
}

#inspired {
  padding: 1.1em;
  background-color: #41b853;
  border: 2px solid #41b853;
}

/*FOOTER STYLES*/
footer {
  text-align: left;
  padding: 0.5em;
  margin: 1em;
  position: relative;
  top: 3em;
}

footer h2 {
  text-align: center;
}

.name-icon {
  padding: 0 0.5em;
}

.name-icon li {
  list-style: none;
  padding-top: 0.5em;
}

.social {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.contact-icon {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contact-icon span {
  display: flex;
  align-items: center;
}

.fa-envelope {
  padding-right: 0.3em;
}

#copyright {
  text-align: center;
}

.fa-brands {
  border: 2px solid #41b853;
  border-radius: 50%;
  padding: 0.3em;
}
